@font-face{
	font-family:Boomerang;
	src:url(../../POLICE/Boomerang.ttf);
}

@font-face{
	font-family: "ChampagneLimousines";
	src:url(../../POLICE/ChampagneLimousines.ttf);
}
@font-face{
	font-family: BEBAS;
	src:url(../../POLICE/BEBAS.ttf);
}