body{
	background-image: url(../ykro2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*#title{
font-family: 'Open Sans', sans-serif; 
font-size:25px;
}*/
#barmenu{
	width: 95%;
	height: 55px;
	margin: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	text-align:center;
	display: inline-flex;
	
}

#menu{
	padding: auto;
	text-align:center;
	position: absolute;
	right: 20px;

}
#menu li{
	list-style-type:none;
	text-decoration-style: none;
	text-align: center;
	display: inline;
}

#menu li a{
	text-decoration-line: none;
	margin-right:20px;
}

/*#tx{
	<font-size: 100px;
	color: white;
}*/
@font-face{
	font-family: CaviarDreams_Bold;
	src: url(../POLICE/CaviarDreams_Bold.ttf);
}